<h1>Exploreaza artisti</h1>
<form (ngSubmit) = "onSubmit(searchForm)" #searchForm="ngForm">
    <div style="width: 25%" class="search-form">
        <div class="search-form-item">
            <label for="name">Nume </label>
            <input name="searchName" type="text" ngModel>
        </div>
        <button class="search-button" type="submit"> Cauta</button>
    </div>
</form>
<div class= "page-controls">
    <pagination-controls  (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<table>
    <thead>
        <tr>
            <td>Nume</td>
            <td width="10px">Detalii</td>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let artist of artists | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>{{artist.name}}</td>
            <td><a  [routerLink]="['/artist', artist.id]"><img height="30px" width="30px" src="../../assets/images/detail-icon.png"></a></td>
        </tr>
    </tbody>
</table>
<div class= "page-controls">
<pagination-controls  (pageChange)="onPageChange($event)"></pagination-controls>
</div>
