<div class = "detail-item">
    <div class="detail-item-info">
        <img width="250px" height="300px" src="{{artist.imagePath}}" alt = "{{artist.name}}">
    </div>
    <div class="detail-item-info">
            <p class = "title">{{artist.name}}</p>
            <p><span class = "detail-names">Autor</span> <span> {{artist.yob}}</span></p>
            <p><span class = "detail-names">Curent</span> <span> {{artist.current}}</span></p>
    </div>
    <div style="margin:0;" class="detail-item-info">
        <app-pie-chart></app-pie-chart>
    </div>
</div>

<div class="detail-item">
    <app-art-list [arts]="artist.arts"></app-art-list>
</div>
