<div class = "detail-item">
    <div class="detail-item-info">
        <img width="250px" height="300px" src="{{artist.imagePath}}" alt = "{{artist.name}}">
    </div>
    <div class="detail-item-info">
            <p class = "title">{{artist.name}}</p>
            <p><span class = "detail-names">Nascut</span> <span> {{artist.birthDate}}</span></p>
            <p><span class = "detail-names">Decedat</span> <span> {{artist.deathDate}}</span></p>
            <p><span class = "detail-names">Curent</span> <span> {{artist.current}}</span></p>
    </div>
    <div class="detail-item-info">
        <ngx-carousel [inputs] = "carouselTile">
                <ngx-tile NgxCarouselItem >
                    <div>
                        <p>Muzee la care poate fi găsit {{artist.name}}</p>
                        <app-pie-grid-chart [single] = "museumsStats" [mapping] = "museumsStats" [about] = "'museum'" [view] = "[800,500]" ></app-pie-grid-chart>
                    </div>
                </ngx-tile>
                <ngx-tile NgxCarouselItem >
                    <div>
                        <p>Tipuri de lucrări</p>
                        <app-pie-chart [single] = "objectOfWorkStats"></app-pie-chart>
                    </div>
                </ngx-tile>
                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button> 
        </ngx-carousel>
    </div>

</div>
<hr/>
<div class="details-wrapper">
    <h2 class = "subtitles">Lucrări</h2>
    <div class="detail-item">
        <app-art-list [arts]="artsFromArtists"></app-art-list>
    </div>

    <div class ="detail-item" *ngFor = "let movements of artistsByMovement">
        <h2 class = "subtitles">Alti autori din curentul {{movements.movementName}}</h2>
        <br/>
        <div>
            <app-artist-list [artists] = "movements.authors"></app-artist-list>
        </div>
    </div>
</div>