.details-wrapper{
    width:90%;
    margin: auto;
    
    .subtitles{
        font-size: 2em;
        color: gray;
        font-weight: bold;
        display: block;
        text-align: left;
        display: inline;
    }
}
.detail-item-info{
    float: left;
    margin: 10px;
}

.detail-item{
    display: flex;
}


.title{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}

.detail-names{
    display: inline-block;
    min-width: 120px;
    font-weight: bold;
}

.subtitles{
    font-size: 20px;
    font-weight: bold;
    // display: block;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}