<div class="museum_wrapper">
    <h1>Explorează muzee</h1>
    <div class = "map-canvas">
        <agm-map class="google-map"
        [latitude]="46"
        [longitude]="25"
        [zoom]="7"> 
        <agm-marker 
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.long"
        >

        <agm-info-window class="info-window">
            <h2>{{m.name}}</h2>
            <a [routerLink]="['/museum', m.id]">Vizitează galerie</a>
        </agm-info-window>

        </agm-marker>

        </agm-map>
    </div>
</div>
