<ngx-carousel [inputs]="carouselTile">
    <ngx-tile (click) = "onArtClick(art)" NgxCarouselItem *ngFor="let art of arts">
            <div class = "art-item-element">
                <img src = "{{art.imagePath}}" height="100px" width="70px" alt={{art.name}}>
            </div>
            <div class = "art-item-element">
                {{art.name}} <br>
                {{art.year}} <br>
            </div>
    </ngx-tile>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

