<ngx-carousel [inputs]="carouselTile">
    <ngx-tile (click) = "onArtClick(art)" NgxCarouselItem *ngFor="let art of arts">
             <div class = "art-item-element">
                  <div class = "art-image">
                    <img class="image" src = "{{art.imagePath}}" alt={{art.name}}>
                    <div (click) = "onArtClick(art)" class="overlay">
                        <div class="text">{{art.name}}<br><i>{{art.author}}</i></div>
                    </div>
                </div>
             </div>
    </ngx-tile>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

