<ngx-carousel [inputs]="carouselTile">
    <ngx-tile (click) = "onArtClick(art)" NgxCarouselItem *ngFor="let art of arts">
            <div class = "art-image">
                <img class="image" src = "{{art.imagePath}}" height="450px" width="250px" alt={{art.name}}>
                <div (click) = "onArtClick(art)" class="overlay">
                    <div class="text">{{art.name}}</div>
                </div>
            </div>
            <!-- <div class = "art-item-element">
                {{art.name}} <br>
                {{art.year}} <br>
            </div> -->
    </ngx-tile>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

