.header{
    padding-left: 100px;
    background-color: black;
    padding: 10px;

}
.header-item{
    position: relative;
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.activ{
    background: #2199e8;
    border-radius: 11px;
    padding: 10px;
}

.header-item:hover{
    cursor: pointer;
}

@font-face{
    font-family: CabinSketch;
    src: url('../../assets/fonts/cabin-sketch/CabinSketch-Regular.otf');
}

.logo{
    padding: 0;
    font-family: CabinSketch;
    font-size: 35px;
}