<div id = "header" class = "header">
    <div [routerLink] = "['/']" class="header-item logo">Ark </div>
    <div [routerLink] = "['/museums']" class="header-item" [ngClass] = "{activ : tab == 'museum'}" (click)="tab = 'museum'">Muzee</div>
    <div [routerLink] = "['/arts']" [queryParams] = "{pageNumber:1, pageSize:10}" class="header-item" [ngClass] = "{activ : tab == 'art'}" (click)="tab = 'art'">Artă</div>
    <div [routerLink] = "['/artists']" [queryParams] = "{pageNumber:1, pageSize:10}" class="header-item" [ngClass] = "{activ : tab == 'artist'}" (click)="tab = 'artist'">Artiști</div>
</div>