.image{
    height:200px;
    width:250px;
}
.detail-names{
    display: inline-block;
    min-width: 120px;
    font-weight: bold;
}
.title{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}