<div id="top" class="detail-item">
    <div class="detail-item-info">
        <img [src]="art.imagePath" class = "image">
    </div>
    <div class="detail-item-info">
        <p class = "title">{{art.name}}</p>
        <p><span class = "detail-names">Autor</span> <span> <a  href = "/artist/{{authorId}}">{{art.author}}</a></span></p>
        <p><span class = "detail-names">Muzeu</span> <span> <a [routerLink] = "['/museum', art.museumId]"> {{museumName}}</a></span></p>
        <p><span class = "detail-names">Anul aparitiei</span> <span *ngIf = "art.year != 0"> {{art.year}}</span><span *ngIf = "art.year == 0">not availabe</span></p>
        <p><span class = "detail-names">Tip</span> <span> {{art.type}}</span></p>
        <p><span class = "detail-names">Dimensiuni</span> <span> {{art.size}} </span></p>
        <p><span id = "description" class = "detail-names">Descriere</span> <span>{{art.description}}</span> <span title = "{{fullDescription}}"><i><u>  Detalii</u></i></span></p>
    </div>
</div>
<hr>
<div class="lists-wrapper">
    <div class="detail-item">
        <p class = "subtitles">Alte lucrări ale artistului {{art.author}}</p>
        <app-art-list [arts] = "artByArtist"></app-art-list>
    </div>
    <div class="detail-item">
        <p class = "subtitles">În același muzeu mai puteți vizita</p>
        <app-art-list [arts] = "artByMuseum"></app-art-list>
    </div>
</div>