.lists-wrapper{
    width:90%;
    margin: auto;

    .subtitles{
        font-size: 2em;
        font-weight: bold;
        color:gray;
        display: block;
    }
}
.detail-item-info{
    float: left;
    margin: 10px;
    width:45%;
}

.detail-item-image{
}

.detail-item{
    display: inline-block;
    width: 100%;
}

.title{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}
.detail-names{
    display: inline-block;
    min-width: 120px;
    font-weight: bold;
}

.image{
    max-height: 300px;
}