h1{
    letter-spacing: 1px;
    font-size: 30px;
}
.search-form{
    margin: auto;
    width: 1000px;
}
.search-form-item{
    display: inline-block;
    margin: 10px;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:grey;
    color: white;
}
.page-controls{
    margin: auto;
    width: 500px;
}

input, select {
    margin: 10px 0;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-button{
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: grey;
}

