    <h1>Explorează Lucrări de Artă</h1>
<form (ngSubmit) = "onSubmit(searchForm)" #searchForm="ngForm">
    <div class="search-form">
        <div class="search-form-item">
            <label for="name">Nume </label>
            <input name="searchName" type="text" ngModel>
        </div>
        <div class="search-form-item">
                <label for="author">Autor </label>
                <input name="searchAuthor" type="text"  ngModel>
        </div>
        <div class="search-form-item">
            <label for="year">Tip lucrare </label>
            <input name="searchType" type="text"  ngModel>
        </div>
        <button class="search-button" type="submit" >Caută</button>
    </div>
</form>

<div class= "page-controls">
    <pagination-controls  (pageChange)="onPageChange($event)"></pagination-controls>
</div>
<table>
    <thead>
        <tr>
            <td width="80px">Lucrare</td>
            <td>Nume</td>
            <td>Autor</td>
            <td>An</td>
            <td>Tip lucrare</td>
            <td width="10px">Detalii</td>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let art of arts | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td><img width="80px" height="100px" [src] = "art.imagePath"></td>
            <td>{{art.name}}</td>
            <td>{{art.author}}</td>
            <td *ngIf = "art.year != 0">{{art.year}}</td><td *ngIf = "art.year == 0">not available</td>
            <td>{{art.type}}</td>
            <td><a  [routerLink]="['/art', art.id]"><img height="30px" width="30px" src="../../assets/images/detail-icon.png"></a></td>
        </tr>
    </tbody>
</table>
<div class= "page-controls">
<pagination-controls  (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div *ngIf="loading" class="loading">
    Loading
</div>