.museum-stats__wrapper{
    width: 80%;
    margin: auto;
}
h1{
    font-size: 3em;
    text-align: center;
}
h3{
    font-size: 2em;
    color:gray;
    text-align: left;
    width:100%;
    display: inline-block;
}

.pie-chart{
    display: block;
    width:50%;
    margin: auto;
}